h1{
  font-size: 3rem;
  color: yellowgreen;
}
hr{
  border-color: orangered;
  border-width: 3px;
  max-width: 65px;
}
.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform:uppercase;
}
.btn-primery {
  background-color: orange;
  background-color: orange;
}
.btn-primery:hover{
  background-color: orchid;
  background-color: orchid;
  border-width: 4px;
}
.btn {
  padding: 1rem 2rem;
}
